<div>
  <div id="channelsContainer">
    <ul>
      <li *ngFor="let channel of channelsList"><button (click)="switch_channel(channels[channel])">{{ channel}}</button></li>
    </ul>
    <p>Your current channel is {{this.currentchannel.name}}</p>
  </div>
  <table>
    <tr>
      <textarea name="msgarea" rows="8" cols="50" readonly ng-module="string" placeholder="You have no new messages :(">{{currentchannel.chatContent}}</textarea>
    </tr>
    <tr>
      <input type="text"(keyup.enter)='sendByKey()' [(ngModel)]="newMsg">
    </tr>
    <tr>
      <button (click)="sendMsg()">Send</button>
    </tr>
   </table>
</div>
