<section class="timetable">
  <ul class="timings">
    <li><time datetime="08:00">08:00</time></li>
    <li>09:00</li>
    <li>10:00</li>
    <li>11:00</li>
    <li>12:00</li>
    <li>13:00</li>
    <li>14:00</li>
    <li>15:00</li>
    <li>16:00</li>
    <li>17:00</li>
    <li>18:00</li>
    <li>19:00</li>
    <li>20:00</li>
    <li>21:00</li>
    <li>22:00</li>
    <li>23:00</li>
    <li>00:00</li>
  </ul>
  <ol class="week">
    <li class="day">
      <span class="name">Mon</span>
      <div class="hour hour__09 hour--two class1">
        <div class="title">VS</div>
        <div>D2</div>
      </div>
      <div class="hour hour__11 hour--two class2">
        <div class="title">ITM</div>
        <div>H4</div>
      </div>
      <div class="hour hour__14 hour--three class3">
        <div class="title">ITS</div>
        <div>C1</div>
      </div>
    </li>
    <li class="day">
      <span class="name">Tue</span>
    </li>
    <li class="day">
      <span class="name">Wed</span>
      <div class="hour hour__14 hour--two class1">
        <div class="title">ITS HA</div>
        <div>Gameslab</div>
      </div>
    </li>
    <li class="day">
      <span class="name">Thu</span>
      <div class="hour hour__08 hour--three class2">
        <div class="title">VS</div>
        <div>D2</div>
      </div>
      <div class="hour hour__13 hour--three class3">
        <div class="title">ITM</div>
        <div>O2</div>
      </div>
    </li>
    <li class="day">
      <span class="name">Fri</span>
    </li>
  </ol>
</section>
