<div>
  <div class="alert alert-success" *ngIf="getauthStatus()" role="alert" >Logged in <button class="btn btn-danger" (click)="logout()">Logout</button></div>
  <h2>Welcome to studyLifeSmart </h2>
  <form class="form-inline">
    <table class="">
      <tr>
        <td><label class="col-sm-2 col-form-label">username</label></td><td><input class="form-control" type="text" #username/></td>
        <td><label class="col-sm-2 col-form-label">password</label></td><td><input class="form-control" type="password" #password/></td>
        <td><input type="button" class="btn btn-primary" (click)="loginAction(username.value,password.value)" value="Login"/></td>
      </tr>
    </table>
  </form>
  <h3>News</h3>
  <ul>
    <li>Development-Version</li>
    <li>...</li>
  </ul>
</div>
