<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="navbar-collapse" id="mynavbar">
  <ul class="nav navbar-nav">
  <li>
  <a routerLink='/' class="link">Startpage</a>
  </li>
  <li>
    <a routerLink='/chat' class="link">Chat</a>
  </li>
  <li>
    <a routerLink='/timetable' class="link">My Timetable</a>
  </li>
  <li>
  <a routerLink='/help' class="link">Help</a>
  </li>
  <li>
  <a routerLink='/about' class="link">Über uns</a>
  </li>
  <li>
  <a routerLink='/impressum' class="link">Impressum</a>
  </li>
  <router-outlet></router-outlet>
  </ul>
  </div>
  </nav>
  <div class="content">
  <router-outlet></router-outlet>
  </div>

